@import url("https://fonts.googleapis.com/css?family=Coiny|Kaushan+Script");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Kaushan Script', cursive; }

header {
  text-align: center;
  background-color: #751B71;
  padding: 15px 10px; }
  header h1 {
    font-family: 'Coiny', cursive;
    font-weight: normal;
    color: #f7e8f7; }

body {
  background-color: #ffe5fc; }

main {
  text-align: center; }
  main h2 {
    color: #600055;
    margin: 15px 0; }
  main form input {
    font-family: 'Kaushan Script', cursive;
    text-align: center; }
    main form input[type='number'] {
      color: #600055;
      font-size: 1.5rem;
      display: block;
      margin: 20px auto;
      background-color: rgba(255, 255, 255, 0.4);
      border: none; }
    main form input[type='submit'] {
      color: #ffe5fc;
      background-color: #600055;
      border: 1px solid #600055;
      padding: 5px 15px;
      margin: 10px;
      border-radius: 5px; }
